<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	
    
    
    
    <dict>
        <key>category</key>
        <string>methodology</string>
        <key>question</key>
        <string>Which document is an example of a primary source?</string>
        <key>ans1</key>
		<string>a textbook on Russian history</string>
		<key>ans2</key>
		<string>an encyclopedia article on religions of the Middle East</string>
		<key>ans3</key>
		<string>a novel on the Age of Exploration</string>
        <key>ans4</key>
        <string>the diary of a survivor of a Nazi death camp</string>
		<key>answer</key>
		<string>4</string>
        <key>explanation</key>
        <string>Explanation: A primary source is firsthand information about people or events of the past, such as that found in a diary or a legal document.</string>
    </dict>
    
    
    <dict>
        <key>category</key>
        <string>methodology</string>
        <key>question</key>
        <string>Which historical events are in the correct chronological order?</string>
        <key>ans1</key>
        <string>Crusades -> Renaissance -> Neolithic Revolution -> Roman Empire</string>
        <key>ans2</key>
        <string>Roman Empire -> Neolithic Revolution -> Crusades -> Renaissance</string>
        <key>ans3</key>
        <string>Renaissance ->Neolithic Revolution -> Crusades -> Roman Empire
        </string>
        <key>ans4</key>
        <string>Neolithic Revolution -> Roman Empire -> Crusades -> Renaissance
        </string>
        <key>answer</key>
        <string>4</string>
        <key>explanation</key>
        <string>Explanation: The Neolithic Revolution caused the development of agriculture and allowed humans to settle for the first time. The Roman Empire was was one of the most expansive human civilizations ever recorded, but ended when tribes from Northern Europe invaded and finally took over Rome. Pope Urban II then launched the Crusades to kill all Muslims living in the Holy Land. This encouraged cultural diffusion which led to the rebirth of Europe, known as the Renaissance.</string>
    </dict>
    
    <dict>
        <key>category</key>
        <string>methodology</string>
        <key>question</key>
        <string>• The United Nations Declaration of Human Rights     • Article from Mohandas Gandhi’s Indian Opinion     • Excerpt from the letters of Catherine the Great
            These three documents are considered</string>
        <key>ans1</key>
        <string>secondary sources
        </string>
        <key>ans2</key>
        <string>examples of oral traditions
        </string>
        <key>ans3</key>
        <string>primary sources
        </string>
        <key>ans4</key>
        <string>statements of different religious beliefs
        </string>
        <key>answer</key>
        <string>3</string>
        <key>explanation</key>
        <string>Explanation: A primary source is firsthand information about people or events of the past, such as that found in a diary or a legal document.</string>
    </dict>
    
    
    
</array>
</plist>
